@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #111419;
  font-family: 'Readex Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}
 
code {
  font-family: source-code-pro, Menlo, 
               Monaco, Consolas, 'Courier New',
    monospace;
}

.bn29 {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  width: 60%;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.bn29:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}

.bn632-hover {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.bn632-hover-mini {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover-mini:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover-mini:focus {
  outline: none;
}

.bn632-hover-mini.bn25-mini {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.auth-modal {
  background-color: rgb(57, 55, 70);
  border-radius: 10px;
  padding: 15px 20px 30px 20px;
  z-index: 1;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"]{
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
}

input[type="submit"]{
  width: 100%;
  border-radius: 20px;
  color: white;
}

input[type="submit"].small_submit{
  width: auto;
  padding: 8px 20px;
  font-size: 14px;
}

input[type="text"].small_text{
  width: 60%;
  padding: 6px 20px;
  font-size: 14px;
}

input[type="radio"] + label,
input[type="checkbox"]{
  border: solid 2px rgb(138, 138, 138);
  padding: 8px 16px;
  border-radius: 12px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  border: solid 2px rgb(128, 118, 194);
}

input:focus {
  outline: none;
}
.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 100%;
  height: 80vh;
  display: flex; /* Add display flex */
  justify-content: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
}

.card {
  width: 100%;
  max-width: 30rem; /* Limit card width */
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.messageInput{
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 8px 10px;
  width: 100%;
}

.messageInput input[type=text]{
  padding: 4px 15px;
  margin: 0;
  width: 74%;
}

.messageInput input[type=submit]{
  padding: 4px 15px;
  width: 24%;
}